/* CORPO */
*{
	margin: 0;
	padding: 0;
}

body{
	background: white;
	color: #fff !important;
	overflow-x: hidden;
}

#container{
	width: 90%;
	height: 100%;
	float: left;
	background: none;
}

#espaco{
	width: 10%;
	height: 100%;
	float: right;
	background: none;
}

#icon{
	width: 75%;
	height: 15%;
	background: none;
	margin: auto;
	padding: 10;
}

.img-add{
	width: 100%;
	height: 100%;
	background: none;
}

.monitor {
	width: 20%;
	height: 40%; 
	background: yellow; 
	padding: 10 10 10 10; 
	margin: 30 50;
	float: left;
	border-radius: 35px;
	-webkit-box-shadow: 15px 6px 72px -23px rgba(0,0,0,1);
	-moz-box-shadow: 15px 6px 72px -23px rgba(0,0,0,1);
	box-shadow: 15px 6px 72px -23px rgba(0,0,0,1);
}

.menu{
	width: 100%;
	height: 100%;
	margin: 0;
	background: brown;
	display: none;
	border-radius: 35px;
}

.botao{
	width: 25%;
	height: 25%;
	margin: 15% 12% 10% 12%;
	background: none;
	float: left;
	display: none;
}

img{
	width: 100%;
	height: 100%;
}

/* botao de adcionar */

.botao-add {
	width: 15%;
	height: 30%; 
	background: none; 
	padding: 25 25 25 25; 
	margin: 45 50;
	float: left;
	border-radius: 35px;
	border: dashed 4px gray;
	opacity: 0.5;
}

.img-botao-add{
	width: 100%;
	height: 100%;
}
body {font-family: Arial, Helvetica, sans-serif;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}