.comp {
    width: 100%;
    height: 100px;
    display: block;
    padding: 20px 0;
    margin: 20px 0;
}

#parametro {
    height: 50px;
    margin: 20px 0;
}

/*LABELS E DDL*/

#param {
    width: auto;
    height: auto;
    font-family: arial;
    font-size: 1.2vw;
    color: #3D2520;
    float: left;
    margin: 10px 0;
    padding: 0 20px 0 0;
}

.lbl {
    width: 100%;
    height: auto;
    font-family: arial;
    font-size: 1.2vw;
    color: #3D2520;
    float: left;
    margin: 10px 0;
}

.ddl {
    width: auto;
    height: 25px;
    font-family: arial;
    font-size: 1vw;
    color: #3D2520;
    float: left;
    margin: 10px 0;
}