.lbl {
    width: auto;
    height: auto;
    font-family: arial;
    font-size: 1vw;
    color: #3D2520;
    float: left;
    margin: 10px;
    font-weight: bold;
    border-bottom: solid 2px orange;
    text-align: center;
}

.lblTemp {
    text-align: center;
    font-size: 3.6vw;
    background: -webkit-linear-gradient(top, #00FF7F, #D2B48C);
    background: linear-gradient(top, #878787, #000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 10px;
}

/*GRAFICO*/
#chart_div {
    width: 40%;
    height: 60%;
    background-color: transparent;
    float: left;
    margin: 2.5% 0;
}

/*MEDIAS*/
.medias {
    width: 50%;
    height: 70%;
    float: left;
    margin: 20px 30px;
    padding: 0 30px;
}

.info {
    width: 25%;
    height: 30%;
    background-color: #FAFAFA;
    margin: 20px;
    float: left;
    border-radius: 20px;
    padding: 10px;
}