/* CORPO */

body {
    background: white !important;
    color: #fff !important;
    overflow-x: hidden;
}


/* BOTAO DE ADD */
.botao-add {
    width: 19%;
    height: 38%;
    padding: 10px;
    margin: 0 70px;
    float: left;
    border-radius: 35px;
    -webkit-box-shadow: 15px 6px 72px -23px rgba(0,0,0,1);
    -moz-box-shadow: 15px 6px 72px -23px rgba(0,0,0,1);
    box-shadow: 15px 6px 72px -23px rgba(0,0,0,1);
    border: dashed 4px gray;
    opacity: 0.5;
}

.img-botao-add {
    width: 100%;
    height: 100%;
}

.img-add {
    width: 100%;
    height: 100%;
    background: none;
}

#icon {
    width: 75%;
    height: 15%;
    background: none;
    margin: auto;
    padding: 10px;
}

/*MONITOR*/
.monitor {
    width: 20%;
    height: auto;
    background-color: white;
    padding: 10px 10px 10px 10px;
    margin: 0 70px;
    float: left;
    border-radius: 35px;
}

.monitor {
    -webkit-box-shadow: 15px 6px 72px -23px rgba(0,0,0,1);
    -moz-box-shadow: 15px 6px 72px -23px rgba(0,0,0,1);
    box-shadow: 15px 6px 72px -23px rgba(0,0,0,1);
}

.titulos_monitor {
    width: 100%;
    margin: 10px 0px;
    float: left;
    padding: 0px 5px;
    color: gray;
    text-align: center;
}

.titulos_monitor_temp {
    width: 100%;
    margin: 10px 0px;
    float: left;
    padding: 20px 0px;
    text-align: center;
    font-size: 60px;
}

/*MENU - MONITOR*/
.menu {
    width: 100%;
    height: 100%;
    margin: 0;
    background: brown;
    display: none;
    border-radius: 35px;
}

.botao {
    width: 25%;
    height: 25%;
    margin: 15% 12% 10% 12%;
    background: none;
    float: left;
    display: none;
}


/*IMAGENS*/
img {
    width: 100%;
    height: 100%;
}
