/* CORPO */

* {
    margin: 0;
    padding: 0;
    font-family: arial black;
}

#conteudo_server {
    width: 100%;
    height: 100%;
}

body {
    color: #000 !important;
    color: #fff !important;
    background-image: url("../imagens/fundo.png");
    background-color: aqua;
    overflow-x: hidden;
}

/*CABECALHO*/
header {
    height: 13.5vh;
    padding: 0;
    display: block;
    background: #FFF;
    -webkit-box-shadow: 0px 4px 25px -7px rgba(128,119,128,1);
    -moz-box-shadow: 0px 4px 25px -7px rgba(128,119,128,1);
    box-shadow: 0px 4px 25px -7px rgba(128,119,128,1);
}

.abrirMenu {
    width: 5%;
    height: 10%;
    padding: 10px;
    margin: 0;
    background-image: url(../imagens/icones/menu.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
}

.abrirMenu:hover {
    background-image: url(../imagens/icones/menu_c.png);
}

.perfil {
    width: 5%;
    height: 10%;
    padding: 10px;
    margin: 0;
    background-image: url(../imagens/icones/user.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
}

.perfil:hover{
    background-image: url(../imagens/icones/user_c.png);
}

.titulo-pagina {
    width: 80%;
    height: 10%;
    text-align: center;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 10%;
}

.titulo-pagina-p {
    font-size: 3vw;
}

.titulo-pagina-p {
    background: -webkit-linear-gradient(top, #FA1905, #F99201);
    background: linear-gradient(top, #878787, #000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*CORPO DA PAGINA*/

main {
    width: 100%;
    height: 80.8vh;
    padding: 23px 0;
    display: block;
    background-color: transparent;
}

/*MENU*/
.menu_pg {
    display: none;
    float: left;
    width: 20%;
    height: 100%;
    z-index: 9999;
    position: absolute;
    float: left;
    top: 0;
    /* background-image: url('../imagens/noise.png');*/
    color: #fff !important;
    background-image: url("../imagens/fundo.png");
}

.submenu {
    display: none;
    float: left;
    width: 100%;
    height: 100%;
    z-index: 8888;
    position: absolute;
    float: left;
    top: 0;
    background: gray;
    opacity: 0.5;
}

.btn_menu {
    width: 100%;
    height: 100%;
    font-family: arial;
    padding: 10px;
    background-repeat: no-repeat;
    background-size: 25%;
    background-color: transparent;
    margin: auto;
    text-align: center;
    font-size: 1.5vw;
    border: none;
    outline: none;
}

.itemMenu {
    width: 80%;
    height: 5%;
    margin: 35px auto;
    font-family: arial;
    padding: 10px;
    background-repeat: no-repeat;
    background-size: 24%;
    background-size: 50px;
    background-position: left;
    background-color: transparent;
}

.itemMenu-pollo {
    width: 70%;
    height: 30%;
    margin: auto auto 25px auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 250px;
    padding: 10px;
    margin-top: 20px;
}

#pollo_icon {
    background-image: url('../imagens/isologo.PNG');
}


.itemMenu-logout {
    width: 80%;
    height: 5%;
    margin: 15px;
    font-family: arial;
    padding: 10px;
    background-repeat: no-repeat;
    background-size: 24%;
    background-size: 50px;
    background-position: left;
    background-color: transparent;
    position: absolute;
    bottom: 0;
}

p.menu-title {
    width: 70%;
    height: auto;
    line-height: 450%;
    font-size: 1.2vw;
    color: black;
    font-family: arial;
    background: none;
    text-align: left;
    float: right;
}

p.menu-title-pollo {
    width: 65%;
    height: auto;
    line-height: 100%;
    font-size: 2.8vw;
    color: black;
    font-family: arial black;
    text-align: center;
    background: none;
    color: #3B240B;
    margin: auto;
    letter-spacing: 2px;
}

#chocadeira_icon {
    background-image: url('../imagens/icones/incubator.png');
}

#chocadeira_icon:hover {
    background-image: url('../imagens/icones/incubator_cor.png');
}

#ovo_icon {
    background-image: url('../imagens/icones/eggs.png');
}

#ovo_icon:hover {
    background-image: url('../imagens/icones/eggs_cor.png');
}

#analytics_icon {
    background-image: url('../imagens/icones/graph.png');
}

#analytics_icon:hover {
    background-image: url('../imagens/icones/graph_cor.png');
}

#logout_icon {
    background-image: url('../imagens/icones/sair.png');
}

#logout_icon:hover {
    background-image: url('../imagens/icones/sair_c.png');
}

img {
    width: 80%;
    height: 80%;
    margin: 10px 5px;
}

img.menu-icon {
    width: 20%;
    height: 80%;
    background: none;
}

img.menu-icon-pollo {
    width: 35%;
    height: 70%;
    margin: 0 0 0 30%;
    background: none;
}

/*CONTAINER*/

#container {
    width: 95%;
    height: 95%;
    margin: auto;
    padding: 20px;
    background-color: transparent;
    display: block;
}

/*BORDA*/
footer {
    width: 100%;
    height: 1vh;
    display: block;
    background: red;
    /*-webkit-box-shadow: 1px 8px 19px 2px rgba(171,153,131,1);
    -moz-box-shadow: 1px 8px 19px 2px rgba(171,153,131,1);
    box-shadow: 1px 8px 19px 2px rgba(171,153,131,1);*/
}

.border {
    width: 100%;
    height: 100%;
    background: #fc0093;
    background: -moz-linear-gradient(to right, #fc0093 71%, #ff0000 0%, #ffee00 100%);
    background: -webkit-linear-gradient(left, #fc0093 71%,#ff0000 0%,#ffee00 100%);
    background: linear-gradient(to right, #fc0093 0%,#ff0000 50%,#ffee00 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc0093', endColorstr='#ffee00',GradientType=1 );
}
